%heading {
    font-family: $font-display;
    font-weight: 400;
}

.heading-1 {
    @extend %heading;
    font-size: 5rem;
    font-weight: 600;

    @media only screen and (max-width: $bp-large) {
        font-size: 4.5rem;
        font-weight: 500;
    }
}

.heading-2 {
    @extend %heading;
    font-size: 4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    //gap: 1.5rem;

    @media only screen and (max-width: $bp-large) {
        font-size: 3.5rem;
        font-weight: 500;
    }

    &::before {
        content: "";
        height: 1.5px;
        width: 7rem;
        display: block;
        background-color: $color-primary;
        margin-right: 1.5rem;

        @media only screen and (max-width: $bp-large) {
            width: 6.5rem;
        }
    }
}

.heading-3 {
    @extend %heading;
    font-size: 2rem;
    font-weight: 600;
}
